body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(65, 65, 65);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.numbers {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
   
}
.numbers p {
    width: fit-content;
    margin: 5px;
    padding: 10px 17px;
    background-color: rgb(211, 128, 12);
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: .4s;
    display: flex;
    align-items: center;
}
.numbers p:hover{
    cursor: pointer;
    background-color: rgb(255, 170, 0);
    transition: .4s;
}

.operator p {
    background-color: rgb(109, 109, 109);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: .4s;
}
.operator p:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: .4s;
}
#click, #delet {
    background-color: rgb(0, 205, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: .4s;
}
#delet {
    background-color: rgb(220, 0, 0);
    color: white;
}
#click:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 34);
    transition: .4s;
}
#delet:hover{
    cursor: pointer;
    background-color: red;
    transition: .4s;
}
.input{
    height: 30px;
    width: 95%;
}
.input:focus {
    outline: none;
}
.bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}